
<h1>All Secrets</h1>
<% @secrets2.each do |secret| %>
	<table>
		<tr>
			<td colspan="2"><h2>	<%= secret[:secret].content %></h2></td>
		</tr>	
	
		<tr>
			<td><%= secret[:likes] %> likes</td>
			<td>
				<% if secret[:like] == 1 %>
				<form action="<%= secretsUnlike_path secret[:secret].id %>" method="post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					
					<input type="submit" value="Unlike">
				</form>
				<% else  %>

				<form action="<%= secretsLike_path secret[:secret].id %>" method="post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="submit" value="Like">
				</form>
				
				<% end  %>
			</td>
			<td>
				<% if current_user == secret[:secret].user  %>

					<form action="<%= secretsDestroy2_path secret[:secret].id %>" method="post">
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
						<input type="hidden" name="_method" value="delete">
						<input type="submit" value="Delete Secret">
					</form>
				<% end %>
			</td>
		</tr>
	</table>
<% end %>
