
<a href="<%= eventsIndex_path %>">Events Dashboard</a>
<form action="<%= eventsUpdate_path @event.id %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="_method" value="patch">
	<h2>Edit Event</h2>	
	<table>
		<tr>
			<td>Name:</td>
			<td><input type="text" maxlength="100" name="event[name]" value="<%= @event.name %>"></td>
		</tr>
		<tr>
			<td>Date:</td>
			<td><input type="date" name="event[date]" min="<%= Time.now.strftime("%Y-%m-%d") %>" required value="<%= @event.date.strftime("%Y-%m-%d") %>" ></td>
		</tr>
		<tr>
			<td>Location:</td>
			<td><input type="text" maxlength="100" name="event[location]" value="<%= @event.location %>"></td>
			<td>
				<select name="event[state]" id="">
						<option <%if @event.state == "TX" %>selected="selected" <%end%> value="TX">TX</option>
						<option <%if @event.state == "CA" %>selected="selected" <%end%> value="CA">CA</option>
						<option <%if @event.state == "FL" %>selected="selected" <%end%> value="FL">FL</option>
					</select>
			</td>
		</tr>
		<tr>
			<td><input type="submit" value="Update Event"></td>
		</tr>

	</table>
</form>